<!-- getBeer(:id) -->
<a id='beer-card-anchor' href='/beers/{{id}}'>
  <img class='beer-img' src='{{image_url}}' alt='{{name}}' />
  <div class='beers-item'>
    <h2 class='beer-title'>{{name}}</h2>
    <p class='tagline'>{{tagline}}</p>
    <p class='description'>{{description}}</p>
  </div>
</a>